@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Inicio - Globales */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #131313;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;    
}  
.main-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}  
.seccion-body {
    /* Estilos adicionales para la sección del cuerpo si es necesario */
    flex: 1; /* Esto permite que el cuerpo ocupe el espacio restante */
    /* Body.css */
}  
.seccion-footer {
    /* Estilos adicionales para la sección del pie de página si es necesario */
    flex-shrink: 0;
}  
.text-center {
    text-align: center;
}

.seccion-angosta {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

/* Fin - Globales */

/*--------------------------------------[ MENU INICIO FAB ]---------------------------------------------*/

/* Estilos flex para el contenedor principal del menú */
.main-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;    
}

/* Estilos para el flex del logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2em;
    flex-grow: 1;
    padding-left: 1em;
}

/* Estilos para la imagen del logo */
.logo-img { /* Color de fondo del logo */
    width: 212px; /* Ancho de la imagen del logo */
    height: 54px; /* Altura de la imagen del logo */
}

/* Estilos flex para la sección de menú */
.menu-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 9;
}

/* Estilos flex para la sección de opciones de menú */
.menu-option {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: start;
    flex-grow: 1;
    background: #2A2A2A;
    padding-right: 20px;
    height: 44px;
    border-radius: 22px;
}

/* Estilos flex para la subsección de opciones de menú */
.menu-option-sub {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 44px;
    flex-grow: 1;
}

/* Estilos para el texto del menú */
.menu-text {
    color: white; /* Color del texto del menú */
    padding: 1em; /* Espaciado del texto del menú */
}

/* Estilos flex para los botones del menú */
.menu-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: start;
    flex-grow: 12;
}

/* Estilos para el texto de los botones del menú */
.menu-button-text {
    padding: 0.2em; /* Espaciado del texto de los botones del menú */
}

/* Media Query para pantallas con un ancho máximo de 627px */
@media (max-width: 627px) {
    .logo {
        padding: 1em;
    }
    .main-menu {
        flex-flow: column; /* Cambia la dirección de flujo a columna */
        align-items: stretch; /* Estira la alineación vertical */
        flex-grow: 1;
    }
    .menu-option {
        background: none;
        padding-right: 0px;
    }
    .menu-section {
        flex-grow: 9;
    }
    .menu-option-sub {
        display: none !important; /* Oculta la subsección de opciones de menú */
    }
}

/* Media Query para pantallas con un ancho entre 628px y 863px */
@media (min-width: 628px) and (max-width: 863px) {
    .logo {
        padding: 1em;
    }
    .menu-option {
        justify-content: center; /* Centra horizontalmente las opciones de menú */  
    }
}

/* Media Query para pantallas con un ancho entre 871px y 1107px */
@media (min-width: 864px) and (max-width: 1092px) {
    .menu-section {
        flex-grow: 1;
    }
    .logo {
        padding: 1em;
        padding-right: 2em;
    }
    .logo-img {
        background-color: rgb(88, 4, 4); /* Cambia el color de fondo de la imagen del logo */
        height: 100px; /* Cambia la altura de la imagen del logo */
    }
    .main-menu {
        flex-flow: row nowrap; /* Restablece la dirección de flujo a fila */
        justify-content: space-between; /* Restablece la alineación horizontal */
        align-items: center; /* Restablece la alineación vertical */
        flex-grow: 1;
    }
    .menu-option {
        margin-bottom: 0.5em;
        justify-content: end; /* Centra horizontalmente las opciones de menú */
    }
}

/* Media Query para pantallas con un ancho mínimo de 1108px */
@media (min-width: 1093px) {
    .main-menu {
        flex-grow: 1;
    }
    .menu-section {
        flex-grow: 9;
    }
    .menu-option {
        justify-content: start; /* Alinea horizontalmente las opciones de menú a la izquierda */
        align-items: start; /* Alinea verticalmente las opciones de menú en la parte superior */
    }
    .logo {
        flex-grow: 0; /* Evita que el logotipo crezca */
    }
}


/* FIN Menu_Cabecera FAB */

/*--------------------------------------[ MENU FIN FAB ]---------------------------------------------*/

/*--------------------------------------[ BODY INICIO FAB ]---------------------------------------------*/

/* Estilos para el pie de página principal */
.body-main {
    display: flex;
    flex-flow: column nowrap; /* Dirección de flujo y alineación */
    justify-content: stretch;
    align-items: stretch;
    color: white; /* Color del texto */
    padding-top: 2em;
}

.body-width{
    display: flex;
    flex-flow: column nowrap;
    padding-left: 3em;
    padding-right: 3em;
    margin: 0 auto;  
}

/* Media Query para pantallas con un ancho mínimo de 1108px */
@media (min-width: 1093px) and (max-width: 1299px) {
    .body-width{
        width: 80%;
    }
}
@media (min-width: 1300px) {
    .body-width{
        width: 70%;
    }
}


/* Slider INICIO*/

.slider-icon-left{
    padding: 3em;
    display: flex;
    justify-content: center;
}

.slider-icon-right{
    padding: 2em;
    display: flex;
    justify-content: center;
    
}

.slider-main {
    display: flex;
    flex-flow: row nowrap; /* Dirección de flujo y alineación */
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
}

.slider-seccion-1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-grow: 1;
}

.slider-text-title-1 {
    font-size: 17px;
    margin-bottom: 1em;
    max-width: 280px;
}

.slider-text-1 {
    font-size: 36px;
    line-height: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 600;
    max-width: 500px;
}

.slider-seccion-2 {
    flex-grow: 1;
    text-align: center;
}

.slider-main-boton-action{
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.slider-img {
    width: 80%;
}

.slider-selection{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.slider-selection-button {
    margin: 0.2em;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 13px;
}


@media (max-width: 627px) {
    .slider-seccion-2 {
        display: none;
    }
    .slider-icon-left{
        display: none;
    }
    .slider-icon-right{
        display: none;
    }
    .slider-text-title-1 {
        max-width: none;
        text-align: center;
    }
    .slider-text-1 {
        max-width: none;
        text-align: center;
    }

    .slider-main-boton-action{
        text-align: center;
    }

    .slider-selection{
        display: none;
    }
}

/* Media Query para pantallas con un ancho entre 628px y 863px */
@media (max-width: 863px) {
    .slider-icon-left{
        display: none;
    }
    .slider-icon-right{
        display: none;
    }
    .slider-main {
        padding-left: 2em;
        padding-right: 2em;
    }
    .slider-seccion-2 {
        display: none;
    }

    .slider-text-title-1 {
        max-width: none;
        text-align: center;
    }
    .slider-text-1 {
        max-width: none;
        text-align: center;
    }

    .slider-main-boton-action{
        text-align: center;
    }

    .slider-selection{
        display: none;
    }

}

/* Media Query para pantallas con un ancho entre 871px y 1107px */
@media (min-width: 864px) and (max-width: 1092px) {
    .slider-icon-left{
        padding-left: 3em;
        padding-right: 0em;
    }
    .slider-icon-right{
        padding-left: 0em;
        padding-right: 0em;
    }
    .slider-main {
        padding-left: 2em;
        padding-right: 2em;
    }
}

/* Media Query para pantallas con un ancho mínimo de 1108px */
@media (min-width: 1093px) {
    
}


/* Slider FIN */

/* Sección 2 (SeccionDatos) Inicio*/

.seccion-datos-main {
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-flow: row nowrap;
}
.seccion-section-1 {
    display: flex;
    flex-grow: 4;
    margin-right: 2em;
}
.seccion-section-2 {
    display: flex;
    flex-grow: 2;
    max-width: 380px;
}

@media (max-width: 1092px) {

    .seccion-datos-main {
        display: none;
    }

}

/* Sección 2 - dos cards  Fin*/

/* Sección 2-2 (SeccionDatos2) Inicio*/

.seccion-datos-main-2 {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2em;
    margin-bottom: 2em;
}
.seccion-section-2-1 {
    display: flex;
    flex-grow: 11;
    margin-right: 2em;
}
.seccion-section-2-2 {
    display: flex;
    flex-grow: 1;
    max-width: 400px;
}

@media (max-width: 1092px) {

    .seccion-datos-main-2 {
        display: none;
    }

}

/* Sección 2 - dos cards  Fin*/

/* Register Inicio */

.register-main{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
}

.register-text-title-1 {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 0.2em;
}

.register-text-1 {
    font-size: 16px;
    font-weight: 500;
    max-width: 600px;
    padding-bottom: 2em;
}

@media (max-width: 863px) {
   
    .register-text-1 {
        text-align: center;
        max-width: none;
    }
    .register-text-title-1{
        text-align: center;
    }
}

/* Register Fin */

/* GameTrends - 360 Inicio*/

.gametrends-main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.gametrends-section-1 {
    font-size: 32px;
    font-weight: 600;
    max-width: 600px;
    line-height: 40px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.gametrends-section-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    flex-grow: 1;
}

.gametrends-section-2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    margin-bottom: 2em;
}

.gametrends-col-1 {
    flex-grow: 1;
    margin-right: 2em;
}

.gametrends-col-2 {
    flex-grow: 1;
}

.gametrends-section-3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
}

.gametrends-col-3 {
    flex-grow: 1;    
}

.gametrends-col-4 {
    flex-grow: 1;
    margin-left: 2em;
}


/* Media Query para pantallas con un ancho entre 992px y 1148px */
@media (max-width: 1280px) {
    .gametrends-section-2{
        flex-flow: column nowrap;
    }
    .gametrends-section-3{
        flex-flow: column nowrap;
    }

    .gametrends-col-1 {
        flex-grow: 1;
        margin-right: 0em;
        margin-bottom: 2em;
    }

    .gametrends-col-3 {
        flex-grow: 1;
        margin-bottom: 2em;
    }

    .gametrends-col-4 {
        flex-grow: 1;
        margin-left: 0em;
    }
}

/* GameTrends - 360   Fin*/

/*--------------------------------------[ BODY FIN FAB ]---------------------------------------------*/



/*--------------------------------------[ FOOTER INICIO FAB ]---------------------------------------------*/

/* Estilos para el pie de página principal */
.main-footer {
    background-color: #5890FF; /* Color de fondo */
    display: flex;
    flex-flow: column nowrap; /* Dirección de flujo y alineación */
    justify-content: stretch;
    align-items: center;
    color: white; /* Color del texto */
}

.footer-logo-img { /* Color de fondo del logo */
    width: 212px; /* Ancho de la imagen del logo */
    height: 104px; /* Altura de la imagen del logo */
}

.footer-title{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 0.8em;
}

.footer-info{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.5em;
}

/* Estilos para la imagen del logo */
.footer-logo-main { /* Color de fondo del logo */
    width: 212px; /* Ancho de la imagen del logo */
    height: 54px; /* Altura de la imagen del logo */
}

.footer-logo-img{
    width: 105px;
    height: 26px;
    padding: 1em;
}

/* Estilos para la sección de enlaces en el pie de página */
.footer-a-1 {
    display: flex;
    flex-flow: row wrap; /* Coloca elementos en fila y permite envolver si no caben */
    justify-content: center; /* Centra horizontalmente */
    align-items: start;
    padding: 2em; /* Espaciado interior */
    width: 80%;
}

/* Estilos para la sección de información en el pie de página */
.footer-a-2 {
    display: flex;
    flex-flow: column nowrap; /* Dirección de flujo y alineación */
    justify-content: stretch;
    align-items: center; /* Centra vertical y horizontalmente */
    padding: 1em;
}

/* Estilos para la sección de enlaces en la sección de información del pie de página */
.footer-b-1 {
    display: flex;
    flex-flow: row wrap; /* Coloca elementos en fila y permite envolver si no caben */
    justify-content: start; /* Inicio de la línea */
    align-items: stretch;
    flex-grow: 8; /* Ocupa más espacio */
}

/* Estilos para la sección de redes sociales en la sección de información del pie de página */
.footer-b-2 {
    display: flex;
    flex-flow: column nowrap; /* Dirección de flujo y alineación */
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1; /* Ocupa menos espacio */
    padding-top: 1em;
}

/* Estilos para la primera columna de enlaces en la sección de enlaces */
.footer-b-1-1, .footer-b-1-2, .footer-b-1-3 {
    display: flex;
    flex-flow: column nowrap; /* Dirección de flujo y alineación */
    justify-content: stretch;
    align-items: start; /* Inicio de la línea */
    padding: 1em; /* Espaciado interior */
    flex-grow: 1; /* Ocupa igual espacio */
}

/* Estilos para el contenedor de íconos de redes sociales */
.footer-b-icon-cont {
    display: flex;
    flex-flow: row wrap; /* Coloca elementos en fila y permite envolver si no caben */
    justify-content: start; /* Inicio de la línea */
    align-items: start; /* Inicio de la línea */
    flex-grow: 1; /* Ocupa igual espacio */
    max-width: 230px; /* Ancho máximo */
}

/* Estilos para los íconos de redes sociales */
.footer-icon-1 {
    height: 30px;
    width: 30px;
    border-radius: 15px; /* Borde redondeado */
    margin: 0.3em; /* Margen entre íconos */
}

.footer-info-end{
    text-align: center;
    padding-top: 1em;
}

/* -------- Inicio Footer Media------- */


/* Media Query para pantallas con un ancho máximo de 627px */
@media (max-width: 627px) {
    /* Centro verticalmente los elementos dentro de .footer-b-2 */
    .footer-b-2 {
        align-items: center;
    }

    /* Deshabilita el ancho máximo en .footer-b-icon-cont */
    .footer-b-icon-cont {
        max-width: none;
    }

    /* Centra horizontal y verticalmente los elementos en .footer-b-1-1, .footer-b-1-2 y .footer-b-1-3 */
    .footer-b-1-1, .footer-b-1-2, .footer-b-1-3 {
        justify-content: start;
        align-items: center;
    }
}

/* Media Query para pantallas con un ancho entre 628px y 886px */
@media (min-width: 628px) and (max-width: 886px) {
    /* Centro verticalmente los elementos dentro de .footer-b-2 */
    .footer-b-2 {
        align-items: center;
    }

    /* Deshabilita el ancho máximo en .footer-b-icon-cont */
    .footer-b-icon-cont {
        max-width: none;
    }

    /* Centra horizontal y verticalmente los elementos en .footer-b-1-1, .footer-b-1-2 y .footer-b-1-3 */
    .footer-b-1-1, .footer-b-1-2, .footer-b-1-3 {
        justify-content: start;
        align-items: center;
    }

    .footer-b-2 {
        align-items: center;
    }

    /* Estira los elementos horizontal y verticalmente en .footer-b-1 */
    .footer-b-1 {
        justify-content: stretch;
        align-items: stretch;
    }

    .footer-a-1 {
        width: 90%;
    }
}

/* Media Query para pantallas con un ancho entre 887px y 991px */
@media (min-width: 887px) and (max-width: 1004px) {
    /* Centro verticalmente los elementos dentro de .footer-b-2 */
    .footer-b-2 {
        align-items: center;
    }

    .footer-b-1-1, .footer-b-1-2, .footer-b-1-3 {
        justify-content: start;
        align-items: center;
    }
    
    /* Deshabilita el ancho máximo en .footer-b-icon-cont */
    .footer-b-icon-cont {
        max-width: none;
    }

    .footer-a-1 {
        width: 90%;
    }
}

/* Media Query para pantallas con un ancho entre 992px y 1148px */
@media (min-width: 1005px) and (max-width: 1148px) {
    /* Centro verticalmente los elementos dentro de .footer-b-2 */
    .footer-b-2 {
        align-items: start;
        max-width: 230px; /* Ancho máximo */
    }

    /* Deshabilita el ancho máximo en .footer-b-icon-cont */
    .footer-b-icon-cont {
        max-width: none;
        
    }

    /* Estilos para la sección de enlaces en el pie de página */
    .footer-a-1 {
        width: 90%;
    }
}

/* -------- Fin Footer Media------- */

/*--------------------------------------[ FOOTER FIN FAB ]---------------------------------------------*/

/*------------------------------------[ Componentes ]----------------------------------------------------------*/

/*---- BotonLogin Inicio ----*/

.boton-login {
    height: 40px;
    width: 110px;
    background: none;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;    
}

.boton-login:hover {
    background: #6E00FF;
    color: white;
    border: 2px solid #00FFEE;
    border-radius: 24px;
    font-style: italic; 
    font-family: 'Poppins', sans-serif;
    font-size: 14px;    
}

/* Estilos para el checkbox */
.custom-checkbox {
    width: 16px; /* Ajusta el tamaño del checkbox */
    height: 16px;
    -webkit-appearance: none; /* Desactiva los estilos predeterminados del navegador */
    appearance: none;
    background-color: #000000; /* Fondo blanco para el checkbox */
    border: 2px solid #00FFEE; /* Borde del checkbox */
    border-radius: 50%; /* Borde circular */
    outline: none; /* Quita el contorno predeterminado del checkbox */
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 6px;
  }
  
  /* Estilos para el checkbox cuando está marcado */
  .custom-checkbox:checked {
    background-color: #00FFEE; /* Cambia el fondo cuando está marcado */
    border-color: #00FFEE; /* Cambia el borde cuando está marcado */
  }
  
  .custom-checkbox-text {
    padding-left: 6px;
    font-size: 13px;
  }

/*---- BotonLogin Fin ----*/

/*---- BotonRegister Inicio ----*/


.edt-container {
    display: inline-block;
    position: relative;
  }
  
  .edt-inner-container {
    position: relative;
  }
  
  .edt-label {
    position: absolute;
    top: -20px;
    left: 10px;
    color: #61dafb;
    font-size: 14px;
  }
  
  .edt {
    width: 200px;
    height: 30px;
    border: 2px solid #61dafb;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 10px;
  }

.boton-register {
    height: 40px;
    width: 156px;
    background: #6E00FF;
    color: white;
    border: 2px solid #00FFEE;
    border-radius: 24px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;    
}

.boton-register:hover {
    font-style: normal;
    background: none;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;    
}

/*---- BotonRegister Fin ----*/

/*---- BotonRegister Inicio ----*/

.boton-hamburger {
    height: 44px;
    width: 44px;
    background: #6E00FF;
    color: white;
    border: 2px solid #00FFEE;
    border-radius: 24px;
}

.boton-hamburger-icon {
    padding-top: 3px;
    height: 16px;
    width: 16px;
}

/*---- BotonRegister Fin ----*/

/*---- BotonRegister Inicio ----*/

.boton-action {
    background-color: #5890FF;
    width: 320px;
    height: 54px;
    border-radius: 27px;
    border: none;
    font-size: 18px;
    color: white;
    font-style: italic;
}

/*---- BotonRegister Fin ----*/

/*---- BotonRegister2 Inicio ----*/

.boton-register-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    padding-left: 2em;
    height: 78px;
    width: 100%;
    background: #5890FF;
    color: white;
    border: none;
    border-radius: 39px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;    
    flex-grow: 1;
}

.boton-register-title-1 {
    font-size: 21px;
}



.boton-register-action-mobile {
    display: none;
    flex-flow: row nowrap;
    align-items: center;    
    justify-content: center;
    width: 320px;
    height: 44px;
    background: #9DF941 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 0.9;
    border: none;
    margin-top: 30px;
    margin-bottom: 16px;
}
.btn-rg-ac-mb-1{
    flex-grow: 11;
    letter-spacing: 0px;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.btn-rg-ac-mb-2{
    padding-top: 4px;
    flex-grow: 1;
}
.boton-register-seccion-1 {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    padding-right: 2em;
}
.boton-register-action {
    background-color: #A0FD43;
    width: 70px;
    height: 70px;
    border-radius: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 696px) {
    .boton-register-action-mobile{
        display: flex;
    }
    .boton-register-action{
        display: none;
    }
}




.boton-register-action-1 {
    background-color: #FFFFFF;
    color: black;
    width: 48px;
    height: 48px;
    border-radius: 39px;    
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 12px #00000054;
}
.boton-register-icon{
    height: 30px;
    width: 30px;
}

.boton-register-check {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Estilo específico para el checkbox personalizado */

.cbox1 {
    display: none;
  }
  
.cbox1 + label {
position: relative;
padding-left: 35px; /* Espacio para el diseño del checkbox */
cursor: pointer;
}

.cbox1 + label:before {
content: '';
position: absolute;
left: 0;
top: 0;
width: 15px; /* Ancho del checkbox */
height: 15px; /* Altura del checkbox */
border-radius: 50%; /* Hace que el checkbox sea redondo */
border: 2px solid #000000; /* Borde del checkbox */
background-color: #fff; /* Fondo del checkbox */
}

.cbox1:checked + label:before {
background-color: rgb(0, 0, 0); /* Cambiar a tu color deseado cuando esté marcado */
}

.cbox1:checked + label:after {
content: '\2713'; /* Código del símbolo de verificación ✓ */
font-size: 12px; /* Tamaño del tick */
color: rgba(255, 255, 255, 0); /* Color transparente cuando está marcado */
position: absolute;
left: 50%; /* Centrar horizontalmente */
top: 50%; /* Centrar verticalmente */
transform: translate(-50%, -50%); /* Ajustar para centrar completamente */
}

/* Ocultar el tick cuando no está marcado */
.cbox1:not(:checked) + label:after {
display: none;
}
  

@media (max-width: 696px) {

    
    .boton-register-2 {
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
        align-items: center;
    }
    .boton-register-seccion-1 {
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
        align-items: center;
    }

    .boton-register-2 {
        padding-left: 2em;
        height: 187px;
        padding-bottom: 1em;
    }
}

@media (min-width: 697px) and (max-width: 863px) {

    .boton-register-seccion-1 {
        display: flex;
        flex-flow: column wrap;
        align-items: start;
        justify-content: space-between;
        flex-grow: 1;
    }

    .boton-register-title-1{
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .boton-register-2 {
        padding-left: 2em;
        height: 119px;
    }

    .boton-register-2{
        display: flex;
        align-items: start;
        justify-content: center;
        padding-top: 0.4em;
    }

}


/*---- BotonRegister2 Fin ----*/

/*------- gt-seccion-main-1 Inicio --------*/

.gt-seccion-datos-1-main {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    background-color: #343434;
    border-radius: 28px;
    flex-grow: 1;
    padding: 1em;
}

.gt-seccion-datos-col-1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.gt-seccion-datos-title {
    font-size: 16px;
    font-style: italic;
}

.gt-seccion-datos-text {
    font-size: 16px;
    font-style: italic;
    color: #D8BBFF;
}

.gt-seccion-datos-subcol-1 {
    display: flex;
    flex-flow: column wrap;
}
.gt-seccion-datos-subcol-2 {
    display: flex;
    flex-flow: row nowrap;
    min-width: 160px;
    justify-content: end;
    color: #95EDFF;
    font-size: 14px;
    font-style: italic;
    padding-top: 0.2em;
}

.gt-seccion-datos-icon{
    width: 14px;
    height: 14px;
    padding-top: 0.15em;
    padding-left: 0.8em;
}
.gt-seccion-datos-user{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.gt-seccion-datos-column-2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.gt-seccion-datos-row-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    padding-top: 1em;
    padding-bottom: 1em;
}

.gt-seccion-datos-section-1 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-width: 30px;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}
.gt-seccion-datos-section-2 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-width: 60px;
}
.gt-seccion-datos-section-3 {
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: left;
    padding: 1em;
}
.gt-seccion-datos-section-4 {
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
}
.gt-seccion-datos-section-5 {
    display: flex;
    flex-grow: 4;
    align-items: center;
    justify-content: center;
}


/*------- gt-seccion-main-1 Fin --------*/

/*------- gt-seccion-main-2 Inicio --------*/

.gt-seccion-datos-2-main {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    flex-grow: 1;
    
}

.gt-seccion-datos-2-col-1 {
    display: flex;
    align-items: start;
    justify-content: center;
    border-radius: 28px;
    flex-grow: 1;
    max-height: 40px;
}

.gt-seccion-datos-2-icon {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    z-index: 1;
}

.gt-seccion-datos-2-col-2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    background-color: #343434;
    border-radius: 28px;
    flex-grow: 2;
}

.gt-seccion-datos-2-title {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    padding-top: 1em;
}

.gt-seccion-datos-2-text {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    padding: 1em;
    
    padding-top: 2em;
    padding-bottom: 2em;
}

.gt-seccion-datos-2-button{
    text-align: center;
}
.gt-seccion-button{
    top: 887px;
    left: 883px;
    width: 295px;
    height: 37px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 23px;
    opacity: 1;
    font: italic normal bold 14px/21px Poppins;
    letter-spacing: 0px;
    color: #6E00FF;
    opacity: 1;
}
/*------- gt-seccion-main-2 Fin --------*/


/*------- SeccionTablaDatos Inicio --------*/

.SeccionTablaDatos-main {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    background-color: #343434;
    border-radius: 28px;
    flex-grow: 1;
    padding: 1em;
}

.SeccionTablaDatos-col-1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.SeccionTablaDatos-title {
    font-size: 16px;
    font-style: italic;
}

.SeccionTablaDatos-text {
    font-size: 16px;
    font-style: italic;
    color: #D8BBFF;
}

.SeccionTablaDatos-subcol-1 {
    display: flex;
    flex-flow: column wrap;
}
.SeccionTablaDatos-subcol-2 {
    display: flex;
    flex-flow: row nowrap;
    min-width: 160px;
    justify-content: end;
    color: #95EDFF;
    font-size: 14px;
    font-style: italic;
    padding-top: 0.2em;
}

.SeccionTablaDatos-icon{
    width: 14px;
    height: 14px;
    padding-top: 0.15em;
    padding-left: 0.8em;
}
.SeccionTablaDatos-user{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.SeccionTablaDatos-column-2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.SeccionTablaDatos-row-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    padding-top: 1em;
    padding-bottom: 1em;
}

.SeccionTablaDatos-section-1 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-width: 30px;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}
.SeccionTablaDatos-section-2 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-width: 60px;
}
.SeccionTablaDatos-section-3 {
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: left;
    padding: 1em;
}
.SeccionTablaDatos-section-4 {
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
}
.SeccionTablaDatos-section-5 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.SeccionTablaDatos-section-6 {
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
}

.SeccionTablaDatos-flecha {
    height: 16px;
    width: 16px;
    padding-right: 1em;
}

/*------- SeccionTablaDatos Fin --------*/


/*------- gt-seccion-main-1-1 Inicio --------*/

.gt-seccion-datos-2-1-main {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    background-color: #0f0f0f;
    border-radius: 28px;
    flex-grow: 1;
    padding: 1em;
}

.gt-seccion-datos-title-2 {
    font-size: 32px;
    max-width: 580px;
}


/*------- gt-seccion-main-1-1 Fin --------*/

/*------- gt-seccion-main-2-1 Inicio --------*/

.gt-seccion-datos-2-2-main {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    background-color: #000000;
    border-radius: 28px;
    flex-grow: 1;
    width: 338px;
    height: 422px;
}

.gt-seccion-datos-2-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 28px;
    opacity: 0.5;
    z-index: 0;
}

.gt-seccion-datos-2-info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    border-radius: 28px;
    flex-grow: 1;
    z-index: 1;
    padding: 0em 0em 2em 2em;
}

.gt-seccion-datos-2-2-col-1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: end;
    justify-content: stretch;
    border-radius: 28px;
    flex-grow: 1;
    padding: 1em 2em 0em 0em;
    z-index: 2;
}

.gt-seccion-datos-title-2 {
    font-size: 32px;
    max-width: 574px;
}

.gt-seccion-datos-2-title-1 {
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
}

.gt-seccion-datos-2-1-text{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-align: end;
    max-width: 200px;
}

/*------- gt-seccion-main-2-1 Fin --------*/


/* Estilos para GTComponentGameTrends1 */
.gt-component1-main-container {
    display: flex;
    flex-direction: row;
    height: 310px; /* Ajusta la altura según sea necesario */
    border-radius: 28px;
    background-color: #EBEBEB;
    align-items: center;
    overflow: hidden;
}

.gt-component1-logo-container {
    object-fit: contain;
    flex-grow: 3;
    height: 100%;   
    border-radius: 28px;
    margin: 0px 10px 0px 10px;
}

.gt-component1-logo-container img {
    object-fit: cover;
    width: 200px;
    height: auto;
    margin: 0px 10px 0px 10px;
}

.gt-component1-text-container {
    flex-grow: 1;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
}

.gt-component1-sub-text {
    color: black;
    font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
    margin-bottom: 10px;
}

.gt-component1-emphasis {
    font-weight: bold;
    font-style: italic;
    color: black;
}

.gt-component1-description-text {
    font-size: 18px; /* Ajusta el tamaño del texto según sea necesario */
    color: black;
}

@media (max-width: 674px) {
    .gt-component1-description-text {
        display: none;
    }
    .gt-component1-logo-container img{
        display: none;
    }
}



/* Estilos para GTComponentGameTrends2 */
.gt-component2-main-container {
    text-align: center;
    position: relative;
    height: 310px;
    border-radius: 28px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gt-component2-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 28px;
    opacity: 0.6;
}

.gt-component2-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    text-align: left;
    font-weight: normal;
    padding-bottom: 1em;
    padding-left: 1em;
}

@media (max-width: 788px) {
    .gt-component2-text {
        padding-left: 0em;
    }
}

@media (max-width: 1280px) {
    .gt-component2-main-container {
        min-width: 0px;
    }
}


@media (max-width: 1392px) {
    .gt-component2-main-container {
        min-width: 400px;
    }
}

@media (min-width: 1393px) {
    .gt-component2-main-container {
        min-width: 500px;
    }
}


/*--------------------------------- FIN -----------------------------------------*/

/*------------------ Inicio Noticias FAB ------------*/

.noticias-main{
    margin-top: 14em;
}

.noticias-text-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 2em;
}

.noticias-opciones {
    display: flex;
    flex-flow: column nowrap; 
    justify-content: stretch;
    align-items: stretch;
}

.noticias-cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
}

.noticias-cards-1 {
    text-align: center;
    flex-grow: 4;
}
.noticias-cards-2 {
    text-align: center;
    flex-grow: 4;
}
.noticias-cards-3 {
    text-align: center;
    flex-grow: 4;
}
.noticias-cards-text-1 {
    text-align: start;
    flex-grow: 4;
    min-width: 260px;
    max-width: 300px;
    margin-left: 1em;
    height: 148px;
    border-radius: 12px;
    font-weight: 600;
}
.noticias-cards-text-2 {
    text-align: start;
    flex-grow: 4;
    min-width: 260px;
    max-width: 300px;
    margin-left: 1em;
    height: 148px;
    border-radius: 12px;
    font-weight: 600;
}
.noticias-cards-text-3 {
    text-align: start;
    flex-grow: 4;
    min-width: 260px;
    max-width: 300px;
    margin-left: 1em;
    font-weight: 600;
}

.noticias-cards-state-1 {
    padding-top: 1px;
    margin-top: 8px;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    height: 148px;
    border-radius: 12px;
}
.noticias-cards-state-2 {
    padding-top: 1px;
    margin-top: 8px;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    height: 148px;
    border-radius: 12px;
    background-color: #E6094D;
}

.noticias-cards-descripcion{
    font-weight: 300 !important;
    margin-top: 1em;
}

/*------------------ FIN Noticias FAB ------------*/

/*------------------ Inicio Noticias Cards FAB ------------*/

.noticiascards-main {
    position: relative;
  }

.noticiascards-linea{
    margin-top:0.2em;
    margin-left: 1em;
    margin-right: 1em;
    width: 143px;
    height: 12px;
    background: #5890FF 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
    opacity: 1;
}

.noticiascards-image{
    border: 2px solid #5890FF;
    border-radius: 12px;
    opacity: 1;
    height: 180px;
}

.noticiascards-text-image{
    opacity: 1;
    color: white;
    position: absolute;
    top: 6px;
    left: 26px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
}

.noticiascards-text-image-background{
    display: flex;
    width: 96px;
    height: 32px;
    background: #5890FF 0% 0% no-repeat padding-box;
    border-radius: 10px 0px;
    opacity: 0.6;
}
.noticiascards-image-background {
    position: absolute;
    top: 14px;
    left: 0px;
    width: 100%;
    height: 92%;
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;
  }

    .noticias-cards-espacio {
        padding-left: 2em;
        padding-right: 2em;
    }
/*------------------ FIN NoticiasCards FAB ------------*/

/*------------------ Inicio Tendencias FAB ------------*/

.tendencias-main {
    margin-top: 0em;
}

/*------------------ Fin Tendencias FAB ------------*/

/*------------------ Inicio llamado a la acción FAB ------------*/

.call-action-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
    margin-bottom: 6em;
}

.call-action-text-1 {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.call-action-text-2 {
    font-size: 24px;
    margin-bottom: 1em;
}

/*------------------ Fin llamado a la acción FAB ------------*/

/* ----------------- Inicio Boton AcciónGo FAB ------------------- */

.boton-go {
    background-color: #5890FF;
    width: 406px;
    height: 54px;
    border-radius: 27px;
    border: none;
    font-size: 18px;
    color: white;
    font-style: italic;
}

/* ----------------- Fin Boton AcciónGo FAB ------------------- */


/* ----------------------- Inicio BotonRegisterBlanco 2 FAB ------------------------------- */

.boton-register-blanco {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    padding-left: 2em;
    height: 78px;
    width: 100%;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 39px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;    
    flex-grow: 1;
}

/* ----------------------- Fin BotonRegisterBlanco 2 FAB ------------------------------- */

/* ----------------------- Inicio Register 2 FAB ------------------------------- */
 
.register-main-2 {
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 12em;
}

.register-column-1 {
    flex-grow: 1;
}

.register-column-2 {
    align-self: center;
    flex-grow: 11;
}

.register-2-text {
    font-size: 22px;
    max-width: 302px;
}

/* ----------------------- Fin Register 2 FAB ------------------------------- */


/* -------------------- INICIO Informativo FAB ---------------------- */

.informativo-main {
    margin-top: 16em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
}

.informativo-seccion-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    flex-grow: 1;
}
.informativo-seccion-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    flex-grow: 1;
}
.informativo-seccion-3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    flex-grow: 1;
}

.informativo-descripcion-1 {
    max-width: 300px;
    font-weight: 300;
}
.informativo-descripcion-2 {
    max-width: 300px;
    font-weight: 300;
}
.informativo-descripcion-3 {
    max-width: 300px; 
    font-weight: 300;   
}

.informativo-icon-1 {
    height: 60px;
    width: 60px;
    object-fit:contain;
    padding-right: 2em;
}

.informativo-icon-2 {
    height: 60px;
    width: 60px;
    object-fit:contain;
    padding-right: 2em;
}

.informativo-icon-3 {
    height: 60px;
    width: 60px;
    object-fit:contain;
    padding-right: 2em;
}

.informativo-titulo-1 {
    font-weight: 500;
}

.informativo-titulo-2 {
    font-weight: 500;   
}

.informativo-titulo-3 {
    font-weight: 500;    
}


/* -------------------- FIN Informativo FAB ---------------------- */


/* ---------------------------------------- INICIO Ranking FAB ----------------------------------------------*/

.ranking-main { 
    margin-top: 12em;
    margin-bottom: 3em;
}

.ranking-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
}

.ranking-titulo-sub {
    width: 800px;
}


/* ---------------------------------------- FAB Ranking FAB ----------------------------------------------*/

/* ---------------------------------------- INICIO RankingSlider FAB ----------------------------------------------*/

.ranking-slider-main {
    box-shadow: none;
}

.ranking-slider-imagen-tamano {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    box-shadow: 0px 0px 3px #000000;
    margin-top: 4em;
    margin-bottom: 4em;
}


/* ---------------------------------------- FAB RankingSlider FAB ----------------------------------------------*/




/* ------------------------------ Fin Componentes -------------------------*/




/*------------------------------------------- Inicio Login FAB --------------------------------------------*/


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    border: 1px solid #707070;
    border-radius: 28px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 458px;
    width: 894px;
    overflow: hidden;
}

.login-section-form {
    position: relative;
    display: flex;  
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    max-height: 700px;
    max-width: 569px;
    z-index: 1;
    flex: 1; 
    border-radius: 28px;
    background-color: rgba(0, 0, 0, 0.897);
}


.login-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* Ajusta el valor de z-index según tus necesidades */
    border-radius: 28px;
}

.login-img-icon {
    position: absolute;
    top: 10%;
    left: 58%;
    width:auto;
    height: 400px;
    object-fit: cover;
    z-index: 2; /* Ajusta el valor de z-index según tus necesidades */
}


/* Resto del código CSS */


/* Resto del código CSS */

  

  .headline {
    margin: 1em;
    max-width: 440px;
    font-size: 22px;
    margin-bottom: 1.4em;
    color: white;
  }

  .login-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .form-group {
    flex-grow: 1;
  }
  
  .label-form{
    font-size: 14px;
    font-style: italic;
    color: #989797;
    margin-left: 6px;
    margin-top: 6px;
  }
  
  .edt-form {
    display: flex;
    flex-flow: column nowrap;
    background-color: #000000;
    border: 1px solid #343434;
    border-radius: 16px;
    width: 400px;
    height: 54px;
    padding: 2px; 
    margin-bottom: 1em;   
  }

  .login-input {
    padding: 0em 1em 0em 1em;
    color: white;
    flex-grow: 1;
    background: none;
    border: none;
  }
  
  .forgot-password-text{
    padding: 1em;
    color: #ffffff;
    font-weight: 300;
  }

  .forgot-password {    
    margin-left: 10px;
    color: #ffffff;
    font-weight: 600;
  }
  
  .login-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 2em;
    background-color: #5890FF;
    border-radius: 26px;
    width: 400px;
    height: 52px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #5890FF;
    border-radius: 26px;
  }
  


@media (max-width: 627px) {

    .login-container {
        height: auto;
    }

    .login-section-form {
        height: auto;
    }
      
    .login-button {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 26px;
        width: 240px;
        height: auto;
        padding: 1em;
    }
  
    .login-input {
        width: 280px;
        height: 54px;
        flex-grow: 1;
      }

    .headline {
        text-align: center;
    }
     
    .login-btn-action {
        margin-top: 1em;
    }
}

/*------------------------------------------- FIN Login FAB --------------------------------------------*/

/* ----------------------------- INICIO MENU VERTICAL ---------------------------------- */


.seccion-menu-vertical {
    color: #fff;
    min-width: 300px;
    padding-top: 2em;
    padding-bottom: 16em;
}

.Menu-vertical-user {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.menu-vertical-img-fondo-tamano {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 148px;
    width: 148px;
    border-radius: 74px;
    background: #2D2D2D;
    margin-bottom: 18px;
}

.menu-vertical-img-tamano {
    height: 123px;
    width: 123px;
    object-fit: cover;
    border-radius: 62px;
}

.menu-vertical-titulo-1 {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}
.menu-vertical-titulo-2 {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    padding-bottom: 6px;
    padding-bottom: 6px;
}
.menu-vertical-titulo-3 {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}



.menu-vertical-ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-vertical-li {
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    height: 47px;
    padding-left: 10px;
  }
  
  .menu-vertical-li:hover {
    background-color: #34495e;
  }

  .menu-vertical-icon {
    height: 24px;
    width: 24px;
    margin-right: 1em;
    margin-left: 1em;
  }

  .menu-vertical-principal-cuadro {
    position: absolute;
    left: 244px;
    width: 32px;
    height: 32px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #CBA4FF 0% 0% no-repeat padding-box;
    border: 2px solid #00FFEE;
    opacity: 1;
  }

  .menu-vertical-principal {
    display: flex;
    flex-flow: row nowrap;
    width: 250px;
    background: #6E00FF;
    border: 2px #00FFEE solid;
    border-left: none;
  }

/* ----------------------------- FIN MENU VERTICAL ---------------------------------- */

/* Body dash INICIO */

.seccion-body-dash-main {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;
}

.seccion-body-dash {
    flex-grow: 1;
    background: #000000;
    border: 1px #242424 solid;
    border-radius: 64px 0px 0px 0px;
    padding: 0em 2em 2em 2em;
}

.body-dash {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
}


/*Inicio seccion 1 dash datos*/

.dash-card-datos {
    width: auto;
    border: 1px solid #414141;
    border-radius: 44px;
    height: 500px;
    background: #131313;
  }
  
  .dash-datos-header {
    position: relative;
  }
  
  .dash-header-image {
    width: 100%;
    height: 100px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Ajusta la forma de mostrar la imagen */
    border-radius: 44px 44px 0px 0px;
  }
  
  .dash-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.7); /* Color oscuro semi-transparente */
    border-radius: 44px 44px 0px 0px;
  }
  
  .dash-datos-title {
    position: absolute;
    top: 6%;
    left: 3%;
    font-size: 18px;
    width: 400px;
    color: white;
  }
  
  .chart-container {
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;
  }

  .chart-container-main {
    height: 100px !important;
    width: 200px !important;
  }


/*Fin seccion 1 dash datos*/


  .body-dash-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;
    padding-top: 2em;
  }

  .body-dash-row-1 {
    flex-grow: 1;
  }
  .body-dash-row-2 {
    flex-grow: 1;
  }



  .dash-academia-card {
    width: auto;
    border-radius: 44px;
    height: 372px;
    padding: 2em;
    background: #131313;
    margin-right: 2em;
  }

  .dash-academia-titulo {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
  }

  .dash-academia-subtitulo {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    font-weight: 400;
    color: #D8BBFF;
  }

  .dash-alerta-seccion {
    width: auto;
    border-radius: 24px;
    height: 372px;
  }

  .dash-alerta-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
    padding: 0.2em 0.6em 0em 0.6em;
    border-radius: 24px;
    height: 120px;
    margin: 20px 0px 0px 0px;
    background: #131313;   
  }

  .dash-alerta-image {
    height: 110px;
    width: 60px;
    object-fit: cover;
    border-radius: 30px;
  }

  .dash-informacion-texto {
    flex-grow: 1;
    width: 200px;
    padding-left: 2em;
  }

  .dash-informacion-titulo {
    padding-bottom: 1em;
  }

  .dash-informacion-subtitulo {
    color: #04FEB9;
  }

  .dash-informacion-ir {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: black;
    border-radius: 22px;
    margin-right: 1em;
  }

  .dash-informacion-icon {
    height: 20px;
    width: 20px;
    padding-left: 3px;
  }

  .dash-alerta-titulo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    font-size: 16px;
  }
  
  .dash-alerta-titulo-icon {
    width: 40px;
    height: 40px;
    padding-right: 1em;
  }





  .dash-llamado-accion {
    width: auto;
    border: 1px solid #414141;
    border-radius: 44px;
    height: 140px;
    background: #131313;
  }

  .dash-llamado-datos-header {
    position: relative;
  }

  .dash-llamado-header-image {
    width: 100%;
    height: 140px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Ajusta la forma de mostrar la imagen */
    border-radius: 44px;
  }

  .dash-llamado-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: rgba(0, 0, 0, 0.8); /* Color oscuro semi-transparente */
    border-radius: 44px;
  }


  .dash-llamado-datos-title {
    position: absolute;
    top: 10%;
    left: 4%;
    font-size: 28px;
    color: white;
    padding: 0px;
    margin: 0px;
  }

  .dash-llamado-datos-descripcion {
    position: absolute;
    top: 30%;
    left: 4%;
    font-size: 16px;
    width: 600px;
    color: white;
  }


  .dash-llamado-boton {
    position: absolute;
    top: 35%;
    left: 75%;
    width: 307px;
    height: 37px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 23px;
    opacity: 1;
    font: italic normal 14px/21px Poppins;
    font-weight: 500;
    letter-spacing: 0px;
    color: #6E00FF;
    opacity: 1;
  }


  .dash-datos-tabla {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    border-radius: 28px;
    flex-grow: 1;
    padding: 1em;
    width: 360px;
}


  .dash-video-juegos {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;
    padding: 0px;
    width: auto;
    border-radius: 44px;
    background: #131313;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .dash-video-juegos-seccion-2 {
    flex-grow: 1;
  }
  


/* Body dash FIN*/


/* ---- Inicio test ----*/

/* ----- Fin test ------ */